:root {
    --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --color-desaturated-dark-blue: hsl(214, 17%, 51%);
    --color-grayish-blue: hsl(212, 23%, 69%);
    --color-light-grayish-blue: hsl(210, 46%, 95%);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    /* font-weight: 500, 700; */
}

.wrapper {
    width: 100%;
    height: 100dvh;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.article {
    width: 100%;
    max-width: 730px;
    min-width: 327px;
    min-height: 280px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    margin: 24px;
    overflow: hidden;
}

.article__img {
    background-image: url('../assets/drawers.jpg');
    background-size: cover;
    width: 285px;
    height: 280px;
}

.article__content {
    height: 280px;
    width: 445px;
    /* min-width: 445px; */
    padding: 32px 40px;
}

.article__content--header,
.article__content-text {
    padding: 0;
    margin: 0;
}

.article__content--header {
    font-size: 20px;
    font-weight: bold;
    line-height: 140%;
    letter-spacing: 1.25%;
    margin-bottom: 12px; /* Check typography modifier */
}

.article__content--text {
    font-size: 13px;
    font-weight: 500px;
    margin-bottom: 20px; /* Check typography modifier */
}

.author {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.author__inner {
    width: 172px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author__content {
    width: 116px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.author__content--name,
.author__content--date {
    margin: 0;
    padding: 0;
}

.author__content--name {
    font-size: 1rem;
    font-weight: bold;
}

.author__content--date {
    font-size: 1rem;
    font-weight: medium;
}

.author__button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media (max-width: 800px) {
    .article__img {
        min-width: 100%;
        max-height: 200px;
    }

    .article__content {
        min-height: fit-content;
        padding: 36px 38px 20px 38px;
        width: 100%;
    }

    .article__content--header {
        font-size: 16px;
        line-height: 150%;
    }

    .article__content--text {
        margin-bottom: 32px;
    }
}

/* - [Font Awesome](https://fontawesome.com)
- [IcoMoon](https://icomoon.io)
- [Ionicons](https://ionicons.com) */
